.remove-styling {
    text-decoration: none;
    color: black
    ;
    
}
.pictures {
    width: 477px;
    height: 450px;
    object-fit: cover;
    margin: 16px auto;
    display: block;
}
.product-card {
    display: block;
    background: #FFFFFF;
    width: 512px;
    height: 592px;
   
}
.product-card:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);



   
}
.product-card-father {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 52px;
    row-gap: 117px;
}
.price {
    font-size: 24px; 
    font-weight: 500;
}
.item-name {
    margin-top: 30px;
    font-size: 24px; 
    font-weight: 300;
    margin-left: 17.5px;
    
}
.item-price {
    display: flex;
    flex-direction: row;
    margin-left: 17.5px;
}
.category-title {
    font-size: 56px;
    font-weight: 400;
    margin-top: 107px;
    margin-bottom: 138px;
    text-transform: capitalize;
}
.plp-addtocart {
    width: 69px;
    height: 69px;
    background: #5ECE7B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 410px;
    bottom: 120px;
    display: none;
    cursor: pointer;
}
.plp-cartlogo {
    filter: brightness(1000%);
    height: 28px;
}
.plp-addtocart.visible {
    display: flex;
}
.plp-addtocart:hover {
    filter: brightness(110%);
}
 
.plp-addtocart[data-stock="false"] {
    display: none !important;
   
}
.out-of-stock-overlay[data-stock="false"]  {
  position: relative;
  top: -250px;
  left: 140px;
   color: #8D8F9A;
   font-size: 32px;
   font-weight: 400;
  background: transparent;
  
   
}

img[data-stock="false"] {
    display: block;
    opacity: 50%;
}
.out-of-stock-overlay[data-stock="true"] {
display: none;
   
}

